{
  "name" : "bash",
  "files" : [
    "shell.c",
    "eval.c",
    "y.tab.c",
    "general.c",
    "make_cmd.c",
    "print_cmd.c",
    "dispose_cmd.c",
    "execute_cmd.c",
    "variables.c",
    "copy_cmd.c",
    "error.c",
    "expr.c",
    "flags.c",
    "jobs.c",
    "subst.c",
    "hashcmd.c",
    "hashlib.c",
    "mailcheck.c",
    "trap.c",
    "input.c",
    "unwind_prot.c",
    "pathexp.c",
    "sig.c",
    "test.c",
    "version.c",
    "alias.c",
    "array.c",
    "arrayfunc.c",
    "assoc.c",
    "braces.c",
    "bracecomp.c",
    "bashhist.c",
    "bashline.c",
    "list.c",
    "stringlib.c",
    "locale.c",
    "findcmd.c",
    "redir.c",
    "pcomplete.c",
    "pcomplib.c",
    "syntax.c",
    "xmalloc.c",
    ".tis/mkfs/mkfs_filesystem.c",
    ".tis/mkfs/__tis_mkfs.c",
    ".tis/taas-stubs/my-stubs.c"  ],
  "main" : "main",
  "compilation_cmd" : "-DPROGRAM=\"bash\" -DCONF_HOSTTYPE=\"x86_64\" -DCONF_OSTYPE=\"linux-gnu\" -DCONF_MACHTYPE=\"x86_64-unknown-linux-gnu\" -DCONF_VENDOR=\"unknown\" -DLOCALEDIR=\"/home/fabrice/src/bash-4.4.18/../build/share/locale\" -DPACKAGE=\"bash\" -DSHELL -DHAVE_CONFIG_H -I. -I. -I./include -I./lib  -I.tis/mkfs -I.tis/taas-stubs",
  "machdep" : "gcc_x86_64"
}
